{
   "csv_file_format": """create or replace file format csv_file_format \r\n
                            type = 'CSV' \r\n
                            field_delimiter = ',' \r\n
                            skip_header = 1 \r\n  
                            error_on_column_count_mismatch = false \r\n 
                            encoding = 'iso-8859-1';""",
                            
   "csv_stage": """create or replace stage csv_stage file_format = csv_file_format;""",
   
   "stage_files": """put file://{csv_file_path} @csv_stage auto_compress=true overwrite=true;""",
   
   "list_staged_files": """list @csv_stage;""",
   
   "copy_csv_data_into_snowflake": """copy into {table_name} \r\n
                                      from @csv_stage \r\n 
                                      pattern = '.*.csv.gz' \r\n 
                                      file_format = (format_name = csv_file_format) \r\n 
                                      on_error = 'skip_file';""",
                                      
   "remove_staged_files": """remove @csv_stage pattern='.*.csv.gz';"""
}